<DIV style="position: relative; top:50px; left:30px;"><font face = "arial black" size = "32">About QuickSFU</font></DIV>



<DIV style = "position: fixed; top:10px; left: 10px;"><font face = "verdana"><A HREF="../login/index.html" style="font-size: 20px; color:gray";>Log In</A></font></DIV>



<style type="text/css">
html, 
body {
height: 100%;
}

body {
background-image: url(https://saratoolemiller.files.wordpress.com/2012/09/notebooks.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

</style>

<DIV style = "position: relative; top: 250px; left: 10px; width: 380px;"><font style="font-size: 18px; color: darkslategrey";> QuickSFU is a web application created by students, for students. Our goal is to provide students with easy and full access to class notes provided by previous students. We hope you find it useful! </font></DIV>



<DIV style = "position: fixed; top: 680px; left: 10px; width: 320px;"><font style="font-size: 12px; color: grey";> Created by Rafid Ashab Pranto, Angad Aujla, Shayna Grose, Mario Imeri and Lam Nguyen. Spring 2018. </font></DIV>