<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">


<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">About QuickSFU</h1>
        </div>
      </div>
      
      
       <div class="container">
   
        <div class="row">
          <div class="col-md-4">
            <h2>Who We Are</h2>
            <p align ="center">We are a dedicated group of computing science students who are passionate about improving the lives of our peers.</p>
            
          </div>
          <div class="col-md-4">
            <h2>Our Idea</h2>
            <p align ="center">The idea behind this website is to allow students to access notes provided by other students completely free of charge.</p>
                     </div>
          <div class="col-md-4">
            <h2>Our Goal</h2>
            <p align ="center">Our goal is to create a connected, helpful, online community centred around sharing resources with fellow students.</p>
          
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
