<div class="container-fluid text-center">
  <div class="row content">
    <div>
      <h1>About QuickSFU</h1>
            <hr>

            <div class="container-fluid text-center">
	            <div class="text">
            	<p>QuickSFU is a web application created by students, for students. Our goal is to provide students with easy and full access to class notes provided by previous students. We hope you find it useful!</p>
            </div>
            </div>
    </div>

  </div>
</div>
