
<style type="text/css">
html, 
body {
height: 100%;
}

body {
background-image: url(https://www.straight.com/files/v3/styles/gs_large/public/images/15/09/shutterstock_236496097.jpg?itok=WRtWIoGM);
background-repeat: no-repeat;
background-size: 100% 100%;
}

</style>


<DIV style="position: relative; top:50px; left:350px;"><font face = "arial black" size = "32">Welcome to QuickSFU</font></DIV>

<!-- this links to the about page-->
<DIV style = "position: fixed; top: 0px; left: 1000px;"><font face = "verdana" size = "12"><A HREF="../pages/about.html" style="font-size: 20px; color:black";>ABOUT</A></DIV>

<!--this links back to the log in page-->
<DIV style = "position: fixed; top: 0px; left: 1100px;"><font face = "verdana" size = "12"><A HREF="../login" style="font-size: 20px; color:black";>LOG IN</A></DIV>


