<h1>Login</h1>


<DIV style = "position: fixed; top: 0px; left: 1000px;"><font face = "verdana" size = "12"><A HREF="../pages/about.html" style="font-size: 20px; color:grey";>ABOUT</A></DIV>


<DIV style = "position: fixed; top:300px; left: 500px;"><font face = "verdana" style="font-size: 20px; color:gray";>Log In</font></DIV>
<!-- need to add in HREF link once log in system is active. Right now it is just plain text not a hyperlink-->