// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*Style for note display */
.note{
  height: 200px;
  margin-bottom: 5px;
}
/* Add note button for course page */
.add_note{
  margin-left: 80%;
  margin-right: 10%;
}
.course_description{
	text-align: center;
}