// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import "bootstrap-sprockets";
@import "bootstrap";
/* User edit form*/
.user_info_wrapper{
	background-color: #FBFBFB;
}
.user_info_content_wrapper{
	margin-left: 5%;
	margin-top: 5%;
}
.user_info_content_innerwrap div{
	margin-bottom: 40px;
}
.user_info_content_innerwrap{
	width: 850px;

}
.user_name_label{
	width:78px;
  	display: inline-block;
}
.user_info_header{
	font-weight: 900;
    font-size: 2rem;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #555658;
    padding-top: 2%;
    margin-bottom: 5%;
}

/*User show page */
.user_show_wrapper{
      margin-top: 5%;
      overflow: hidden;
}
.user_header{
     overflow: hidden;
}
.user_avatar{
      padding: 0 0 0 0;
}	
.user_name{
      margin-left: 20px;
      padding: 0 0 0 0;
}
.user_add_course{
      background-color: white;
      margin: 5% 0 10px 0;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 16px;
      padding: 16px 24px;
}
.page_banner{
      margin-left: 10%;
      font-size: 20px;
    }
    .add_course_button{

}
.user_course{
      height: 100px;
      background-color: white;
      margin-right: 20px;
      margin-top: 5%;
      border-bottom: 2px solid #AABEDE;
    }
.course_name{
     margin: 15% 0 20% 0;
}
