<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../welcome">QSFU</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="home-btn"><a href="../welcome">Home</a></li>
        <li id="about-btn"><a href="../about">About</a></li>
        <!-- <li><a href="../show">Account</a></li> -->
        <% if logged_in? %>
          <li> <%= link_to "Account", user_path(current_user) %> </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <!--        add in href link to sign up page once it is built -->
        <% if !logged_in?%>
          <li><a href="../signup">Sign Up</a></li>
          <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>